@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

:root {
    --background: #F5F5F5;
    --head-block: #F2EAD3;
    --main-block: #DFD7BF;
    --side-block: #3F2305;
}

* {
    margin: 0;
}

body {
    background-color: var(--background);
    font-family: "Edu VIC WA NT Beginner";
}

header {
    background-color: var(--head-block);
    height: 10vw;
    position: relative;
}

h1 {
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
}

/* ------------------------ */

#side-bar {
    background-color: var(--side-block);
    margin: 0.25rem;
    border-radius: 1rem;
    width: 15vw;
    height: 100vh;
    float: left;
}

#main-content {
    background-color: var(--main-block);
    position: relative;
    border-radius: 1rem;
    margin: 0.25rem;
    width: 83vw;
    height: 100vh;
    float: left;
}

/* ------------------------ */

.container {
    display: flex;
    justify-content: space-evenly;
}

/* ------------------------ */

.search {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
}

.search-bar {
    position: relative;
    background-color: white;
    text-align: left;
    width: 50vw;
    height: 2.5rem;
    padding-left: 3rem;
    transition: 250ms;
}

.search-bar:focus {
    outline: 0;
    border: 5px solid black;
    transition: 250ms;
}

#add-button {
    background-color: var(--background);
    height: 3rem;
    width: 3rem;
    transition: 500ms;
}

#add-button:hover {
    background-color: var(--side-block);
    color: white;
    transition: 500ms;
}

/* -------------------------- */

.side-heading {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 3px solid black;
}

.side-panel {
    background-color: var(--head-block);
    border: 2px solid black;
    border-radius: 1rem;
    margin-top: 0.025rem;
    margin-bottom: 0.0.025rem;
    position: relative;
    height: 5vw;
    transition: 500ms;
}

.side-panel:hover {
    height: 7vw;
    transition: 500ms;
}

.side-panel h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10%;
}

/* ----------------------------- */

.main-panel {
    position: absolute;
    border: 3px solid black;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.main-panel h2 {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}